h1#title {
    text-align: center;
    background: black;
    color: aliceblue;
    font: size 10000000px;;
    font-family: 'Times New Roman', Times, serif; 
}
#title-two {
 text-align: center;
 background-color: black;
 color: aliceblue;
 font: size 10000000px;;
 font-family: 'Times New Roman', Times, serif;
}
#titlebox {
    display:flex;
    justify-content: center;
}
#titlebox-two {
    display: flex;
    justify-content: center;
}
body{
    background-image: url('image/hero-image.fill_.size_994x559.v1678673186-696x391.jpg');
}
#color-palette {
    display: flex;
    justify-content: center;
}
.color-box {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
}
#pixel-board{
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 40px);
    gap: 1px;
    justify-content: center;
    margin-top: 20px;

}
.pixel {
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}	
.selected {
    border-width: 5px;
    border-style: solid;
    border-image: url('image/pixels.jpeg') 30 30 round;
    border-radius: 5px;
}

#buttons {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 5px;
}