h1#title {
    text-align: center;
}

#color-palete {
    display: flex;
    justify-content: center;
}

.color-box {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 20px;
    border: 1px solid black;
}