h1#title {
    text-align: center;
}
body{
    background-color: rgb(135, 252, 160);
}
#color-palette {
    display: flex;
    justify-content: center;
}
.color-box {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
}
#pixel-board{
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 40px);
    gap: 1px;
    justify-content: center;
    margin-top: 20px;

}
.pixel {
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}	
.selected {
    border-width: 3px;
    border-style: solid;
    border-color:purple;
}
